name: Run Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Install Node.js
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # 3. Install dependencies
      - name: Install dependencies
        run: npm install

      # 4. Start HTTP server untuk HTML static
      - name: Start HTTP server
        run: npx http-server ./ -p 8080 &
      
      # 5. Wait sebentar supaya server siap
      - name: Wait for server
        run: sleep 5

      # 6. Jalankan Cypress tests
      - name: Run Cypress
        uses: cypress-io/github-action@v5
        with:
          start: false   # karena server sudah jalan manual
          wait-on: 'http://127.0.0.1:8080/index.html'
          browser: chrome
