name: Run Cypress Tests

on:
  push:
    branches: [ main ]
    
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cypress-io/github-action@v5
